#installContainer.hidden.install
  .install-container.container
    img(
      id="btnClose"
      class="icon-small install-close"
      src='/icons/close.svg',
      alt="Close"
    )
    p.install-text Get our free app, it won't take up space on your phone
    button(
      class="install-btn",
      type="button"
    ) Install