footer.footer
  .container.footer-content
    a(
      class="footer-icon-wrapper"
      href="#"
    )
      img(
        class="footer-icon"
        src='/icons/home.svg',
        alt="Home"
      )
    a(
      class="footer-icon-wrapper"
      href="#"
    )
      img(
        class="footer-icon"
        src='/icons/heart.svg',
        alt="Favourite"
      )
    a(
      class="footer-icon-wrapper"
      href="#"
    )
      img(
        class="footer-icon"
        src='/icons/settings.svg',
        alt="Settings"
      )